<header class="p-5 col-10 row">
    <h1 class="text-center col-6"><a href="/">Školní noviny</a></h1>
    <div class="col-6 d-flex justify-content-end"><a href="/redakce/login"><button>Login</button></a></div>
</header>
<main class="col-10 h-100 p-4">