 input, textarea
{
    background-color: rgb(22, 67, 116);
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px 10px black;
    transition: 100ms;
}

 input::placeholder, input, textarea
{
    color: white;
}

 input:focus,  textarea:focus
{
    outline: none;
    transform: scale(1.1);
}