<div class="col-12 row">
    <h2 class="col-6 d-flex justify-content-start">Správa článku</h2>
    <div class="col-6 d-flex justify-content-end menu">
        <a href="/redakce/prehled_clanku">
            <input type="submit" value="Přehled článků">
        </a>
        <a  href="/redakce/nahrani_clanku">
            <input type="submit" value="Nahrání článku">
        </a>
        <a  href="/redakce/odhlaseni">
            <input type="submit" value="Odhlásit se">
        </a>
    </div>
</div>