/*
    CSS jednotliveho clanku
*/

.clanek
{
    min-height: 200px;
    background-color: rgb(65, 88, 109);
}

.clanek h2
{
    font-weight: 100;
    text-align: center;
    padding: 5px;
}

.clanek .kratky_popis
{
    padding: 5px;
    font-size: 1.1em;
}

.clanek a
{
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-decoration-color: transparent;
    transition: 200ms;
}

.clanek a:hover
{
    text-decoration-color: white;
}