<!DOCTYPE html>
<html lang="cs" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/redakce/spolecne_redakce.css">
    <link rel="stylesheet" href="/spolecne.css">
    <link rel="stylesheet" href="/redakce/form.css">
    <title>Redakce</title>
</head>
<body class="w-75 m-0-a h-100">
    <header class="p-5 col-12 row">
        <h1 class="text-center col-6">Redakce-login</h1>
        <div class="col-6 d-flex justify-content-end"><a href="/"><button>Zpět</button></a></div>
    </header>
    <main class="m-0 h-100">
        <form action="/redakce/loginInfo" method="POST" class="col-6 m-0-a">
            <div class="d-flex justify-content-center p-4">
                <input class="p-2" type="text" name="username" placeholder="Username.."  required> 
            </div>
            <div class="d-flex justify-content-center p-4">
                <input class="p-2" type="password" name="password" placeholder="Password.."  required><br>
            </div>
            <div class="d-flex justify-content-center p-4">
                <input class="p-2" type="submit" value="Prihlasit">
            </div>
        </form>
    </main>
    <%- include("../spolecne/paticka.ejs") -%>
</body>
</html>