<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nový článek</title>
</head>
<body>
    <%- include("../spolecne/hlavicka.ejs") -%>
    <h1>Vytvoření nového článku</h1>
    <main>
        <form action="/redakce/nahrat" method="POST">
            <p>Vložte název článku</p> <input type="text" name="nadpis" id="">
            <p>Autoři (oddělovač je ,)</p> <input type="text" name="autori" id="">
            <p>Krátký popis článku</p> <input type="text" name="kratkyPopis" id="">
            <p>Vložte obsah článku</p> <input type="text" name="obsah" id="">
            <p>Datum</p> <input type="date" name="datum" id="">
            <button type="submit">Potvrdit</button>
        </form>

        <a href="/redakce/odhlaseni"><input type="button" value="Logout"></a>
    </main>
    <%- include("../spolecne/paticka.ejs") -%>
</body>
</html>