<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nový článek</title>
</head>
<body>
    <header>
        <h1>Vytvoření nového článku</h1>
    </header>
    <main>
        <form action="/clanek/nahrat" method="POST">
            <p>Vložte název článku.</p> <input type="text" name="nazev" id="" placeholder="Název článku...">
            <p>Vložte obsah článku.</p> <input type="text" name="telo" id="" placeholder="Tělo článku...">
        </form>
    </main>
    <footer>
        <p>&copy; Martin Synek, Tadeáš Poliak, Jan Petrů</p>
    </footer>
</body>
</html>