/*
    CSS uvodni stranky
*/


html
{
   /* height: 100%;*/
}

body
{
    /*height:100%;*/
    background-color: rgb(25, 35, 44);
}

main
{
    margin: 0 auto;
    /*Barva pozadi*/
    background-color: rgb(44, 63, 80);
}

header
{
    background: rgb(25,35,44);
background: linear-gradient(180deg, rgba(25,35,44,1) 0%, rgba(39,55,69,1) 66%, rgba(46,64,80,1) 100%);
    margin: 0 auto;
}

h1
{
    font-weight: 200;
    text-transform: uppercase;
}